<!DOCTYPE html>

<html>

	<head>
		<title>Rock vs Paper vs Scissors</title>
		<link type="text/css" rel="stylesheet" href="normalize.css"/>
		<link type="text/css" rel="stylesheet" href="outcome.css"/>
	</head>

	<body>
	<p>
	<h1>ROCK VS PAPER VS SCISSORS</h1>

	<h2>DRAW!!!</h2>

	<a href='/game'>Play Again!</a>

	</p>
	</body>
	</html>

