<!DOCTYPE html>

<html>

	<head>
		<title>Rock vs Paper vs Scissors</title>
		<link type="text/css" rel="stylesheet" href="normalize.css"/>
		<link type="text/css" rel="stylesheet" href="gamestyle.css"/>
	</head>

	<body>

	<section id="choices">

		<form method="post"><button class="icon" style="max-width:100%" name="rock" type="submit" value=Rock ><img src="rock.jpg" width="300" height="285" /></button></form>

		<form method="post"><button class="icon" style="max-width:100%" name="paper" type="submit" value=Paper><img src="paper.jpg" width="300" height="285"/></button></form>

		<form method="post"><button class="icon" style="max-width:100%" name="scissors" type="submit" value=Scissors><img src="scissors.jpg" width="300" height="285"/></button></form>

	</section>

	</body>
	</html>