<form method="post"><button name="rock" type="submit" value="Rock">Rock</button>

<form method="post"><button name="paper" type="submit" value="Paper">Paper</button>

<form method="post"><button name="scissors" type="submit" value="Scissors">Scissors</button>