<% if @name %>
Welcome to Rock, Paper, Scissors <% p "#{@name}" %>... Good luck.
<a href="/game">Let's Go!</a>

<% else %>

Want to play Rock, Paper, Scissors? 

Please enter your name: 

	<form action="/">
		<input type="text" name="name">
		<input type="submit" value="Submit">
	</form>
<% end %>