<!DOCTYPE html>

<html>

	<head>
		<title>Rock vs Paper vs Scissors</title>
		<link type="text/css" rel="stylesheet" href="normalize.css"/>
		<link type="text/css" rel="stylesheet" href="outcome.css"/>
	</head>

	<body>
	
	<h2>LOSER!!!</h2>
	<h3>Computer chose <%= @computers_choice.class %></h3>

	<section id="selections">
		<%if @computers_choice.class == Rock %>
			<img src="rock.jpg" width="300" height="285" />
		<%elsif @computers_choice.class == Paper %>
			<img src="paper.jpg" width="300" height="285" />
		<%else @computers_choice.class == Scissors %>
			<img src="scissors.jpg" width="300" height="285" />
		<% end %>
	</section>

	<a href='/game'>Play Again!</a>


	</body>
	</html>